header
  div.myProfile
    div.myProfile_pic
      img(src="./img/me.jpg", alt="me")
    div.myProfile_main
      div.myProfile_title
        h1 べ・キゴン(Bae Kigun)
        h5 Web Developer, Student
      div.myProfile_detail
        span AGE:
        span 37   
        span PHONE:   
        span 080 (3900) 6065   
        span EMAIL:
        span vanti113@gmail.com
        span ADDRESS:
        span 福岡市博多区竹岡町１−１−１１ ３０５
        a(href="https://github.com/vanti113" target="_blank") 
          i.fab.fa-github  
