.desc_title
  h3 ECサイトのデザインとページ構成を研究
  p 実際の美容室ブランドのページをクローニングをしながらHTML,CSSを適切に活用してページ構成をしました。DOMに関する軽い効果はJavaScriptで表現し、コーディングの便利性のためタスクラーナGulpを利用しました。
.desc_spec
  h4 used stack:
  .specs  
    span HTML5 
    span CSS3 
    span JS
    span Gulp
    span Sass