.desc_title
  h3 サイトのデザインと構成の練習用
  p 海外の独特なデザインのサイトを真似をしながらクライアントの以来にあうサイトの構成を考える目的でクローニングしたページです。
.desc_spec
  h4 used stack:
  .specs  
    span HTML5 
    span CSS3 
    span JS
    span Gulp
    span Sass