.desc_title
  h3 FrameworkであるReactJSを利用して作ったページ
  p オープンWebDBからデータを習得し、APIからの更新に対して多数のコンポーナントを自動的に作るWebアプリ。実際の商品ページや詳細ページのデザインも考えました。
.desc_spec
  h4 used stack:
  .specs  
    span ReactJS
    span HTML5
    span CSS3