.desc_title
  h3 モバイルアプリのデザインを真似をしたページ
  p 韓国のチャットアプリKAKAO TALKをWEBバージョンで作ってみました。基本的なHTMLやCSSの技術だけを使って最大限似ている様子を具現してみました。
.desc_spec
  h4 used stack:
  .specs  
    span HTML5
    span CSS3
    span JS