.desc_title
  h3 Webアプリ用で作ったTodoリスト
  p ブラウザの位置情報を活用してオープン天気DBからWebAPIを取得し、画面に天気情報と現在の位置を表示。ブラウザのLocalStorageにユーザ別のTodoリスト情報を保管
.desc_spec
  h4 used stack:
  .specs  
    span HTML5
    span CSS3
    span JS