.desc_title
  h3 Youtubeの機能を研究する目的のサイト
  p 世界的な動画サイトYoutubeを真似をしたサイトを制作しました。会員登録、ユーザセキュリティー、動画アップロード、AJAXの活用など、様々な機能を真似をしながらたくさんのことを学ことができました。
.desc_spec
  h4 used stack:
  .specs  
    span Node.js
    span mongoDB
    span AWS S3
    span Pug 
    span scss 
    span webpack
    
